<div style="padding:6px 0;">
	<p style="padding-bottom:8px;font-weight:bold;">السيد {CustomerName},</p>{Header}
	<p style="padding-bottom:8px;">شكرا للاستعلام.
	نحن انشأنا طلب تسعير رقم  (Ref #{TranId}) المرفق بهذا البريد الالكتروني.</p>

	<p style="padding-bottom:8px;">
	    من فضلك تذكر ان طلب التسعير سارس خلال {QuotationValidDuration} يوم فقط.
		 من فضلك اضغط علي الرابط التالي للموافقة علي اللتسعير قبل  الانقضاء التلقائي:
	    
	</p>

	<p style="padding-bottom:8px;">
		<a href="{QuotationAcceptLink}">{QuotationAcceptLink}</a>
	</p>

	<p style="padding-bottom:8px;">
	    في حالة وجود استفسارات، من فضلك اتصل بالبريد الالكتروني  <a href="mailto:{Email}">{Email}</a>.
	</p>

	<p style="padding-bottom:8px;">
	مع خالص التقدير.
	</p>

	{Footer}
</div>