<strong>Dear {CustomerName},</strong>
{Header}
<p>Thank you for your interest in our products. We have created a quotation (Ref #{TranId}) for you which is attached along in this email.</p>

<p>
    Please note that this quotation is valid for {QuotationValidDuration} days only.
    Please click on the following link to accept the quote before it expires automatically:
</p>

<a href="{QuotationAcceptLink}">{QuotationAcceptLink}</a>

<p>
    If you have any questions, please contact us at <a href="mailto:{Email}">{Email}</a>.
</p>

Thank you.<br />

{Footer}