<div style="padding:6px 0;">
    <p style="padding-bottom:8px;font-weight:bold;">Dear {CustomerName},</p>{Header}
    <p style="padding-bottom:8px;">This is a payment receipt acknowledgment.</p>

    <table style="border-collapse: collapse" border="1">
        <tbody>
            <tr>
                <th>Receipt #</th>
                <td>{TranId}</td>
            </tr>
            <tr>
                <th>Ref #</th>
                <td>{ReferenceNumber}</td>
            </tr>
            <tr>
                <th>Receipt Currency</th>
                <td>{CurrencyCode}</td>
            </tr>
            <tr>
                <th>Received Amount</th>
                <td>{Amount}</td>
            </tr>
        </tbody>
    </table>

    <p style="padding-bottom:8px;">
        If you have any questions, please contact us at <a href="mailto:{Email}">{Email}</a>.
    </p>

    <p style="padding-bottom:8px;">
    Thank you.
    </p>

    {Footer}
</div>