SELECT policy.create_access_types(1,   'Read');
SELECT policy.create_access_types(2,   'Create');
SELECT policy.create_access_types(3,   'Edit');
SELECT policy.create_access_types(4,   'Delete');
SELECT policy.create_access_types(5,   'Create Filter');
SELECT policy.create_access_types(6,   'Delete Filter');
SELECT policy.create_access_types(7,   'Export');
SELECT policy.create_access_types(8,   'Export Data');
SELECT policy.create_access_types(9,  'Import Data');

INSERT INTO core.genders
SELECT 'F', 'Female' UNION ALL
SELECT 'M', 'Male' UNION ALL
SELECT 'O', 'Other';

INSERT INTO core.identification_types
SELECT 'DVL', 'Driving License', true UNION ALL
SELECT 'SSN', 'Social Security Number', false;

INSERT INTO core.social_networks(social_network_name)
SELECT 'Twitter' UNION ALL
SELECT 'Facebook' UNION ALL
SELECT 'Google+' UNION ALL
SELECT 'LinkedIn' UNION ALL
SELECT 'Instagram' UNION ALL
SELECT 'WeChat' UNION ALL
SELECT 'Viber' UNION ALL
SELECT 'WhatsApp' UNION ALL
SELECT 'Skype' UNION ALL
SELECT 'Hike';
