SELECT policy.create_access_types(1,   'Read');
SELECT policy.create_access_types(2,   'Create');
SELECT policy.create_access_types(3,   'Edit');
SELECT policy.create_access_types(4,   'Delete');
SELECT policy.create_access_types(5,   'Create Filter');
SELECT policy.create_access_types(6,   'Delete Filter');
SELECT policy.create_access_types(7,   'Export');
SELECT policy.create_access_types(8,   'Export Data');
SELECT policy.create_access_types(9,  'Import Data');

INSERT INTO core.genders
SELECT 'F', 'Female' UNION ALL
SELECT 'M', 'Male' UNION ALL
SELECT 'O', 'Other';

INSERT INTO core.identification_types
SELECT 'DVL', 'Driving License', true UNION ALL
SELECT 'SSN', 'Social Security Number', false UNION ALL
SELECT 'PAS', 'Passport Number', true;

INSERT INTO core.social_networks(social_network_name, semantic_css_class, base_url, profile_url)
SELECT 'Twitter',   'twitter',      'https://twitter.com/',             'https://twitter.com/{0}' UNION ALL
SELECT 'Facebook',  'facebook',     'https://www.facebook.com/',        'https://www.facebook.com/{0}' UNION ALL
SELECT 'Google+',   'google plus',  '',                                 '' UNION ALL
SELECT 'LinkedIn',  'linkedin',     '',                                 '' UNION ALL
SELECT 'Instagram', 'instagram',    '',                                 '' UNION ALL
SELECT 'WeChat',    'wechat',       '',                                 '' UNION ALL
SELECT 'Viber',     '',             '',                                 '' UNION ALL
SELECT 'WhatsApp',  'whatsapp',     '',                                 '' UNION ALL
SELECT 'Skype',     'skype',        '',                                 '' UNION ALL
SELECT 'Hike',      '',             '',                                 '';