html, body, table, tr, th, td, div, h1, h2, h3, h4, h5, a, nav, ul, li, p {
  font-family: Ubuntu, "Open Sans",sans-serif !important; }

h1, h2, h3, h4, h5 {
  font-family: Ubuntu, "Open Sans",sans-serif !important;
  color: #606060;
  margin: 24px 0;
  font-weight: 300;
  padding-bottom: 16px;
  border-bottom: 1px dotted #cbc8c8; }

ul li {
  margin-left: 16px; }

h1, h2, h3, h4, h5, h6, .header {
  color: #773F98;
  font-weight: 300 !important; }

html, p, li, div {
  font-size: 16px;
  line-height: 28px; }

#brand {
  background-color: #773F98;
  height: 72px;
  margin-bottom: 12px; }

@media only screen and (min-width: 768px) {
  #story {
    min-height: 900px; } }

footer {
  color: #c0c0c0;
  background-color: #773F98; }

footer a {
  color: #c0c0c0;
  font-size: 14px; }

footer a:hover {
  color: #FFFFFF; }

.pad {
  padding: 12px; }

a {
  color: #773F98; }

a:hover {
  color: #e302b1; }

img {
  max-width: 100%; }

.item-selector {
  padding: 4px 12px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAA81BMVEUAAAAAfrYAfrZ5udZ8u9cAfrZ0t9V0t9UAfrYAfrYAfrZqstJttNNrs9IAfrZUp8wulcJFoMhGoMlEn8gAfrYfjb49nMY9nMY7m8YdjL4fjb74+Pj19/ju9fe+6PPW7/Xf8fYAfrYRhrrK4uzV7/U5msWw1eW96PPv9vcBfrYDf7e/6fPz9vfg8fYCf7eo4/ENhLkQhrrO4+3L7PQTh7sTiLvM7PTR5e4ejb4pksEEgLc6m8bh7fLi7fLk7vPm7/NVqM1Yqc1jr9Brs9JzttXN4+0Zir3G4Oup4/Gv1OWTxt252ee62eeUx92o4vF5udbE3+oQSryJAAAAG3RSTlMADxAdHjA6PD9PX25ucK+/1tra29/i5ebm+/s4jNsSAAAAuUlEQVR4Xm2P5W7DQBCEnbQNM/Sc7KEZwsxcxvd/mvZ8VSVLmX/zaUezo11Vut7u9VDx35enx7ed+WXot39+8QRS+zVS9wMTABOCYT6MUrUDAOGWxQmcdAnaL4D52KVjjt99CYINEMv97FNGRgqMfgHtP4fM+2hJcH+RERrOuh27KkHhcQuEM9b1nCAV9aLlHDDxOs6koh67Qcb5++HVXjVFKalQHvl+q55KNETjLjYyI0QmPjuX1X4AQ3QWeDVDvE4AAAAASUVORK5CYII=") no-repeat scroll 4px 4px transparent; }

code {
  padding-left: 24px !important;
  border: 1px solid #b0c9cd;
  background-color: #fcfcfc !important; }
