
<div class="poco view factory">
    <div id="FlagPopUnder" class="ui initially hidden form segment" style="width:400px;z-index:3; position: absolute;">
        <h3 class="panel-title">Flag This Transaction</h3>
        <div>You can mark this transaction with a flag, however you will not be able to see the flags created by other users.</div>
        <p>Select a flag.</p>

        <select id="FlagSelect" class="ui fluid search dropdown selection"></select>

        <p class="ui buttons tpad8">
            <input id="UpdateButton" value="Update" class="green small ui button" type="button" />
            <input onclick="$('#FlagPopUnder').fadeOut(1000);" class="red small ui button" value="Close" type="button">
        </p>
    </div>

    <div class="ui stackable attached segment">
        <div class="title ui huge grey header"></div>
        <div class="ui info description message" style="display: none;"></div>
    </div>

    <div class="ui stackable attached segment">
        <script src="/Scripts/underscore/underscore-min.js"></script>


        <div class="ui stackable grid">
            <div class="twelve wide column">
                <div class="ui basic buttons">
                    <a id="AddNewButton" class="ui basic button">Add New</a>
                    <a id="FlagButton" class="ui basic button">Flag</a>
                    <div class="ui icon top left pointing dropdown basic button" id="ExportDropDown">
                        <span>Export This Document</span>
                        <div class="menu">
                            <div class="header">
                                Export This Document
                            </div>
                            <a class="item" href="javascript:void(0);" onclick="createDoc();">
                                <i class="file word outline blue icon"></i>
                                To Word Document
                            </a>
                            <a class="item" href="javascript:void(0);" onclick="createXls();">
                                <i class="file excel outline green icon"></i>
                                To Excel Document
                            </a>
                            <a class="item" href="javascript:void(0);" onclick="createPDF();">
                                <i class="file pdf outline red icon"></i>
                                To PDF Document
                            </a>
                        </div>
                    </div>
                    <a id="PrintButton" href="javascript:void(0);" onclick="print()" class="ui basic button">Print</a>


                </div>
            </div>
            <div class="right aligned four wide column">
                <select class="ui fluid filter" id="DefaultFilterSelect"></select>
            </div>
        </div>
    </div>

    <div class="ui stackable attached segment">
        <div class="ui top attached tabular menu">
            <a class="active item" data-tab="view" onclick="changeTab(this)">View</a>
            <a class="item" data-tab="filter" onclick="changeTab(this)">Saved Filters</a>
            <a class="item" data-tab="import" onclick="changeTab(this)">Data Import</a>
        </div>

        <div class="ui active bottom attached tab loading segment" data-tab="view">
            <div id="json" class="vpad8" style="width: 100%; overflow: auto;">
            </div>
            <div class="ui divider"></div>
            <div class="ui stackable grid">
                <div class="left aligned six wide column">
                    <div class="ui breadcrumb">
                        <a class="section" id="CurrentPageAnchor"></a>
                        <div class="divider">/ </div>
                        <a class="section" id="TotalPagesAnchor"></a>
                    </div>
                </div>
                <div class="right aligned ten wide column">
                    <a class="ui left attached labeled icon button" id="PreviousButton"><i class="left arrow icon"></i>Previous</a>
                    <a class="ui right attached right labeled icon button" id="NextButton">Next<i class="right arrow icon"></i></a>
                </div>
            </div>
        </div>

        <div class="ui bottom attached hidden tab segment" data-tab="filter">
            <div class="ui huge header">
                Filter:
                <span id="FilterName">
                </span>
            </div>
            <div class="ui divider"></div>

            <div class="ui stackable form" id="FilterForm">
                <div class="five fields">
                    <div class="field">
                        <label>Select a Column</label>
                        <select class="ui search dropdown" id="ColumnSelect" required></select>
                    </div>
                    <div class="field">
                        <label>Filter Condition</label>
                        <select class="ui search dropdown" id="FilterConditionSelect" required></select>
                    </div>
                    <div class="field">
                        <label>Value</label>
                        <input id="ValueInputText" required />
                    </div>
                    <div class="field">
                        <label>And</label>
                        <input id="AndInputText" readonly="readonly" />
                    </div>
                    <div class="field">
                        <label>&nbsp;</label>
                        <input class="ui button" id="AddFilterButton" type="button" value="Add">
                    </div>
                </div>
            </div>

            <table class="ui striped table" id="FilterTable">
                <thead>
                    <tr>
                        <th style="width: 100px;">Actions</th>
                        <th>Column Name</th>
                        <th>Condition</th>
                        <th>Value</th>
                        <th>And</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <div class="ui large header">Save this Filter</div>
            <div class="ui divider"></div>
            <div class="ui form">
                <div class="fields">
                    <div class="four wide field">
                        <label>Filter Name</label>
                        <input id="FilterNameInputText" />
                    </div>
                </div>
                <div class="ui basic buttons">
                    <div class="ui basic button" id="SaveFilterButton">Save</div>
                    <div class="ui basic button" id="ManageFiltersButton">Manage Filters</div>
                    <div class="ui basic button">Cancel</div>
                </div>
            </div>

            <div class="ui filter small modal">
                <i class="close icon"></i>
                <div class="ui huge header">
                    Manage Filters
                </div>
                <div class="content">
                    <div class="ui form" style="max-width: 400px;">
                        <div class="field">
                            <label>Select a Filter</label>
                            <select class="ui search dropdown filter" id="FilterSelect"></select>
                        </div>
                        <div class="ui basic buttons">
                            <a class="ui close button" onclick="loadFilter();">Edit</a>
                            <a class="ui close button" onclick="loadFilter();">Delete</a>
                            <a class="ui close button">Close</a>
                        </div>

                    </div>
                </div>
                <div class="actions">
                    <div class="ui basic buttons">
                        <a class="ui basic close button">Remove User Defaults</a>
                        <a class="ui basic button" id="MakeUserDefaultFilterButton">Default (For Users)</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui bottom attached hidden tab segment" data-tab="import">
            <div class="ui huge header">Data Import</div>

            <div class="ui basic buttons">
                <a class="ui basic button" id="DownloadTemplateButton">Export Data</a>
                <div class="ui basic button">
                    <label for="file">Import Data</label>
                    <input type="file" id="file" style="display:none;">
                </div>
            </div>

            <div class="big error"></div>

            <div id="ProgressBar" class="vpad16" style="display:none;">
                <div data-percent="0" class="ui indicating progress active">
                    <div style="transition-duration: 300ms; width: 0%;" class="bar"></div>
                    <div class="label"></div>
                </div>
            </div>
        </div>

    </div>












    <br />
    <script>
        var form = $(".poco.form.factory");
        var view = $(".poco.view.factory");
        var pocoDefinition;

        $("#AddNewButton").click(function () {
            if (form.length) {
                view.hide();
                form.show();
            };
        });
    </script>

    <script>
        var columns = [];
        var filterConditions = [{ "value": "0", "text": "IsEqualTo" },
        { "value": "1", "text": "IsNotEqualTo" },
        { "value": "2", "text": "IsLessThan" },
        { "value": "3", "text": "IsLessThanEqualTo" },
        { "value": "4", "text": "IsGreaterThan" },
        { "value": "5", "text": "IsGreaterThanEqualTo" },
        { "value": "6", "text": "IsBetween" },
        { "value": "7", "text": "IsNotBetween" },
        { "value": "8", "text": "IsLike" },
        { "value": "9", "text": "IsNotLike" }];

        $("#FilterName").text(Resources.Titles.Untitled());
    </script>
    <script>
        function tryParseLocalizedResource(text) {
            var localized = executeFunctionByName("Resources.Titles." + text, window);

            if (!localized) {
                localized = executeFunctionByName("Resources.ScrudResource." + text, window);
            };

            if (localized) {
                return localized;
            };

            return text;
        };


        function localizeHeaders(el) {
            el.find("thead tr th").each(function () {
                var cell = $(this);

                var name = cell.text();

                var text = tryParseLocalizedResource(name);
                cell.text(text);

                var column = new Object();
                column.name = name;
                column.text = text;

                columns.push(column);
            });
        };
    </script>
    <script>
        function createGridView(appendTo, json) {
            appendTo.html("");

            if (isNullOrWhiteSpace(json || "")) {
                return;
            };

            var mydata = eval(json);
            var excludedColumnIndices = [];

            if (!json) {
                return null;
            };

            if (!excludedColumnIndices) {
                excludedColumnIndices = [];
            };

            var el = $('<table class="ui striped nowrap definition table" id="ScrudView">');
            var header = "<thead><tr>";

            var index = 0;

            $.each(json[0], function (name) {
                if (window.excludedColumns.indexOf(name) === -1) {
                    header += "<th>" + name + "</th>";
                } else {
                    excludedColumnIndices.push(index);
                };

                index++;
            });

            header += "</tr></thead>";

            $(header).appendTo(el);

            var body = $("<tbody />");

            $.each(json, function (i, value) {
                var row = "<tr>";

                index = 0;
                $.each(value, function (key, val) {
                    if (excludedColumnIndices.indexOf(index) === -1) {
                        if (val === false) {
                            val = Resources.Titles.No();
                        };

                        if (val === true) {
                            val = Resources.Titles.Yes();
                        };

                        row += "<td>" + (val || "") + "</td>";
                    };

                    index++;
                });

                row += "</tr>";

                body.append(row);
            });

            $(el).append(body);
            $(appendTo).append(el);
        };

    </script>
    <script>
        //Utilities
        function getPageNumber() {
            var page = parseInt(getQueryStringByName("Page") || 0);
            var totalPage = parseInt($("#TotalPagesAnchor").text() || 1);

            if (!page) {
                return 1;
            };

            if (page > totalPage) {
                page = totalPage;
            };

            return page;
        };

        function getFilter() {
            if ($("#DefaultFilterSelect").val()) {
                var filter = $("#DefaultFilterSelect").getSelectedValue();
                return filter;
            };

            return "";
        };


        function bindSelect(el, data, valueField, textField) {
            $.each(data, function () {
                var option = "<option value='" + this[valueField] + "'>" + this[textField] + "</option>";
                el.append(option);
            });
        };
    </script>
    <script>
        function loadPageCount(callback) {
            $("[data-tab=view]").addClass("loading");
            var filterName = getFilter();

            var ajaxGetTotalPages = getTotalPages(window.viewPocoName, filterName, false);

            ajaxGetTotalPages.success(function (msg) {
                var pages = parseInt(msg.d || 1);

                $("#TotalPagesAnchor").text(pages);

                if (typeof callback === "function") {
                    callback();
                };
            });

            ajaxGetTotalPages.fail(function (xhr) {
                logAjaxErrorMessage(xhr);
            });

        };

        function getTotalPages(pocoName, filterName, byOffice) {
            var qs = getQueryStrings();

            if (qs.length) {
                return getFilteredTotalPages(pocoName, qs, byOffice);
            };

            var url = "/Services/Modules/PocoService.asmx/GetTotalPages";
            var data = appendParameter("", "pocoName", pocoName);
            data = appendParameter(data, "filterName", filterName);
            data = appendParameter(data, "byOffice", byOffice);

            data = getData(data);
            return getAjax(url, data);
        };

        function getAjaxFilters(queryStrings) {
            var filters = [];

            $.each(queryStrings, function (index, value) {
                filters.push(getAjaxPropertyFilter(value.key, 0, value.value));
            });

            return filters;
        };

        function getFilteredTotalPages(pocoName, queryStrings, byOffice) {
            var filters = getAjaxFilters(queryStrings);

            var url = "/Services/Modules/PocoService.asmx/GetFilteredTotalPages";
            var data = appendParameter("", "pocoName", pocoName);
            data = appendParameter(data, "filters", filters);
            data = appendParameter(data, "byOffice", byOffice);

            data = getData(data);
            return getAjax(url, data);
        };


    </script>
    <script>
        function loadFilterConditions() {
            var el = $("#FilterConditionSelect");
            bindSelect(el, filterConditions, "value", "text");
            el.dropdown();
        };

        function loadColumns() {
            var el = $("#ColumnSelect");
            bindSelect(el, columns, "name", "text");
            el.dropdown();
        };

        $("#FilterNameInputText").keyup(function () {
            $("#FilterName").html($(this).val() || Resources.Titles.Untitled());
        });

        function loadFilter() {
            var filterName = $("#FilterSelect").getSelectedText();
            $("#FilterName").html(filterName);
            $("#FilterNameInputText").val(filterName);
            var ajaxGetFilters = getFilters(window.viewPocoName, filterName);

            ajaxGetFilters.success(function (msg) {
                createFilters(msg.d);
            });

            ajaxGetFilters.fail(function (xhr) {
                logAjaxErrorMessage(xhr);
            });
        };

        function getFilters(pocoName, filterName) {
            var url = "/Services/Modules/PocoService.asmx/GetFilters";
            var data = appendParameter("", "pocoName", pocoName);
            data = appendParameter(data, "filterName", filterName);
            data = getData(data);
            return getAjax(url, data);
        };
    </script>
    <script>
        function loadFilterNames() {
            var ajaxGetFilterNames = getFilterNames(window.viewPocoName);
            ajaxGetFilterNames.success(function (msg) {
                var data = msg.d;
                var selected = "";

                var option = "<option value=''>Select a Filter</option>";

                $.each(data, function () {
                    var isDefault = this[1].Value;

                    if (isDefault) {
                        selected = this[0].Value;
                    };

                    option += stringFormat("<option value='{0}'>{0}</option>", this[0].Value);
                });


                $("#DefaultFilterSelect").html(option);

                if (selected) {
                    $("#DefaultFilterSelect").dropdown("set selected", selected).dropdown({ placeholder: false });
                    loadPageCount(loadGrid);
                } else {
                    $("#DefaultFilterSelect").dropdown({ placeholder: false });
                    loadPageCount(loadGrid);
                };

                $("#FilterSelect").html(option);


                $("#DefaultFilterSelect").change(function () {
                    loadPageCount(loadGrid);
                });
            });

            ajaxGetFilterNames.fail(function (xhr) {
                logAjaxErrorMessage(xhr);
            });
        };

        function getFilterNames(pocoName) {
            var url = "/Services/Modules/PocoService.asmx/GetFilterNames";
            var data = appendParameter("", "pocoName", pocoName);
            data = getData(data);
            return getAjax(url, data);
        };
    </script>
    <script>
    </script>
    <script>

        $(document).ready(function () {
            loadPoco(loadFilterNames);
            loadFilterConditions();
            $("#ExportDropDown").dropdown();

            if (window.title) {
                $(".title").html(window.title);
            };
            if (window.description) {
                $(".description").html(window.description).show();
            } else {
                $(".description").remove();
            };

            if (typeof (back) === "object") {
                var title = back.Title;
                var url = back.Url;

                var anchor = $("<a/>");
                anchor.addClass("ui basic button")
                anchor.attr("title", Resources.Titles.Back());
                anchor.attr("href", url);
                anchor.text(title);

                $("#AddNewButton").before(anchor);
            };
        });

        function loadPoco(callback) {
            var ajaxgetPoco = getPoco(window.formPocoName);

            ajaxgetPoco.success(function (msg) {
                pocoDefinition = msg.d;
                if (typeof (callback) === "function") {
                    callback();
                }
            });
        };


        function loadGrid() {
            var pageNumber = getPageNumber();
            var filterName = getFilter();

            $("#CurrentPageAnchor").text(pageNumber);

            var ajaxGetPocoView = getPocoView(window.viewPocoName, pageNumber, filterName, false);

            ajaxGetPocoView.success(function (msg) {
                var el = $("#json");
                var json = JSON.parse(msg.d);
                createGridView(el, json);
                localizeHeaders(el);
                loadColumns();
                loadActions();
                $("[data-tab=view]").removeClass("loading");
            });

            ajaxGetPocoView.fail(function (xhr) {
                logAjaxErrorMessage(xhr);
            });
        };

        function getPocoView(pocoName, pageNumber, filterName, byOffice) {
            var qs = getQueryStrings();

            if (qs.length) {
                return getFilteredPocoView(pocoName, pageNumber, qs, byOffice);
            };

            var url = "/Services/Modules/PocoService.asmx/GetPocoView";
            var data = appendParameter("", "pocoName", pocoName);
            data = appendParameter(data, "pageNumber", pageNumber);
            data = appendParameter(data, "filterName", filterName);
            data = appendParameter(data, "byOffice", byOffice);

            data = getData(data);
            return getAjax(url, data);
        };

        function getFilteredPocoView(pocoName, pageNumber, queryStrings, byOffice) {
            var url = "/Services/Modules/PocoService.asmx/GetFilteredPocoView";
            var data = appendParameter("", "pocoName", pocoName);
            data = appendParameter(data, "pageNumber", pageNumber);
            data = appendParameter(data, "filters", getAjaxFilters(queryStrings));
            data = appendParameter(data, "byOffice", byOffice);

            data = getData(data);
            return getAjax(url, data);
        };

        function getPoco(pocoName) {
            var url = "/Services/Modules/PocoService.asmx/GetFormView";
            var data = appendParameter("", "pocoName", pocoName);

            data = getData(data);
            return getAjax(url, data);
        };
    </script>
    <script>
        var columnSelect = $("#ColumnSelect");
        var filterConditionSelect = $("#FilterConditionSelect");
        var valueInputText = $("#ValueInputText");
        var andInputText = $("#AndInputText");
        var commandItems = "<a onclick='deleteFilter(this);'><i class='delete icon'></i></a><a onclick='editFilter(this);'><i class='edit icon'></i></a><a onclick='$(this).parent().parent().toggleClass(\"warning\");'><i class='check mark icon'></i></a>";



        filterConditionSelect.change(function () {
            var val = parseFloat(filterConditionSelect.val() || 0);

            if (val >= 6 && val <= 7) {
                andInputText.removeAttr("readonly");
                return;
            };

            andInputText.attr("readonly", "readonly");
            andInputText.val("");
        });

        function validateFilters() {
            var isValid = true;

            $("#FilterForm [required]").each(function () {
                var el = $(this);

                if (isNullOrWhiteSpace(el.val())) {
                    isValid = false;
                    makeDirty(el);
                    return;
                };

                removeDirty(el);
            });

            return isValid;
        };

        $("#AddFilterButton").click(function () {
            var grid = $("#FilterTable");

            var isValid = validateFilters();
            if (!isValid) {
                return;
            };

            var selectedColumn = columnSelect.getSelectedText();
            var filterCondition = filterConditionSelect.getSelectedText();
            var value = valueInputText.val();
            var and = andInputText.val();

            var duplicate = false;

            grid.find("tbody tr").each(function () {
                var el = $(this);
                var columnName = el.find("td:nth-child(2)").text();
                var condition = el.find("td:nth-child(3)").text();

                if (columnName === selectedColumn &&
                    condition === filterCondition) {

                    el.find("td:nth-child(4)").text(value);
                    el.find("td:nth-child(5)").text(and);

                    el.addClass("warning");
                    duplicate = true;
                    return false;
                };
            });


            if (!duplicate) {
                addFilterRow(selectedColumn, filterCondition, value, and);
            };
        });


        function addFilterRow(selectedColumn, filterCondition, value, and, css) {
            var html = "<tr>";
            html += "<td>" + commandItems + "</td>";
            html += "<td>" + selectedColumn + "</td>";
            html += "<td>" + filterCondition + "</td>";
            html += "<td>" + value + "</td>";
            html += "<td>" + and + "</td>";
            html += "</tr>";

            var row = $(html);

            if (css) {
                row.addClass(css);
            };

            $("#FilterTable").removeClass("inverted red").find("tbody").append(row);
            columnSelect.parent().find(".search").focus();
        };

        $("#ManageFiltersButton").click(function () {
            $('.filter.modal').modal('show');
        });

        $("#SaveFilterButton").click(function () {
            var table = $("#FilterTable");
            var filterNameInputText = $("#FilterNameInputText");

            if (isNullOrWhiteSpace(filterNameInputText.val())) {
                makeDirty(filterNameInputText);
                return;
            };

            removeDirty(filterNameInputText);

            if (!table.find("tbody tr").length) {
                table.addClass("inverted red");
                return;
            };

            table.removeClass("inverted red");

            var error = table.find("tr.error td:nth-child(2)").text();

            if (error.length) {
                var message = "The column \"{0}\" is invalid and does not exist. Are you sure you want to continue?";

                var confirmed = confirm(stringFormat(message, error));
                if (!confirmed) {
                    return;
                };
            };

            var filters = [];

            $("#FilterTable tbody tr").each(function () {
                var el = $(this);
                var columnName = el.find("td:nth-child(2)").text();
                var condition = el.find("td:nth-child(3)").text();

                var filter = new Object();

                filter.FilterName = filterNameInputText.val();
                filter.ColumnName = _.findWhere(columns, { text: columnName }).name;
                filter.FilterCondition = parseInt(_.findWhere(filterConditions, { text: condition }).value || 0);
                filter.FilterValue = el.find("td:nth-child(4)").text();
                filter.FilterAndValue = el.find("td:nth-child(5)").text();
                filters.push(filter);
            });

            var ajaxSaveFilter = saveFilter(window.viewPocoName, filters);

            ajaxSaveFilter.success(function () {
                displayMessage(Resources.Titles.TaskCompletedSuccessfully(), "success");
            });

            ajaxSaveFilter.fail(function (xhr) {
                logAjaxErrorMessage(xhr);
            });
        });

        function saveFilter(pocoName, filters) {
            var url = "/Services/Modules/PocoService.asmx/SaveFilter";
            var data = appendParameter("", "pocoName", pocoName);
            data = appendParameter(data, "filters", filters);

            data = getData(data);
            return getAjax(url, data);
        };


        function createFilters(filters) {
            $("#FilterTable").find("tbody").html("");
            $.each(filters, function (i, filter) {

                var selectedColumn = filter.ColumnName;
                var filterCondition = filter.FilterCondition;
                var value = filter.FilterValue;
                var and = (filter.FilterAndValue || "");

                var css = "";
                filterCondition = _.findWhere(filterConditions, { value: filterCondition.toString() }).text;
                var column = _.findWhere(columns, { name: selectedColumn });

                if (column) {
                    selectedColumn = column.text;
                } else {
                    css = "error";
                };

                addFilterRow(selectedColumn, filterCondition, value, and, css);
            });
        };

        function deleteFilter(el) {
            if (confirmAction()) {
                $(el).parent().parent().remove();
            };

        };

    </script>

    <script>
        $("#MakeUserDefaultFilterButton").click(function () {
            var filterName = $("#FilterSelect").getSelectedText();
            var ajaxMakeDefaultFilter = makeDefaultFilter(window.viewPocoName, filterName);

            ajaxMakeDefaultFilter.success(function () {
                displayMessage(Resources.Labels.TaskCompletedSuccessfully(), "success");

                $(".filter.modal").modal("close");
            });

            ajaxMakeDefaultFilter.fail(function (xhr) {
                logAjaxErrorMessage(xhr);
            });
        });

        function makeDefaultFilter(pocoName, filterName) {
            var url = "/Services/Modules/PocoService.asmx/MakeDefaultFilter";
            var data = appendParameter("", "pocoName", pocoName);
            data = appendParameter(data, "filterName", filterName);

            data = getData(data);
            return getAjax(url, data);
        };

    </script>

    <script>
        function changeTab(el) {
            el = $(el);
            var tab = el.attr("data-tab");

            $.tab('change tab', tab);

            el.parent().find(".active.item").removeClass("active");
            el.addClass("active");
        };

        function setPageNumber(pageNumber) {
            var url = updateQueryString("Page", pageNumber);
            window.history.pushState({ path: url }, '', url);
        };

        $("#NextButton").click(function () {
            var totalPage = parseInt($("#TotalPagesAnchor").text() || 1);
            var nextPage = getPageNumber() + 1;

            if (nextPage > totalPage) {
                nextPage = totalPage;
            };

            setPageNumber(nextPage);

            loadPageCount(loadGrid);
        });


        $("#PreviousButton").click(function () {
            var previousPage = getPageNumber() - 1;

            if (previousPage < 1) {
                previousPage = 1;
            };

            setPageNumber(previousPage);

            loadPageCount(loadGrid);
        });
    </script>
    <script>
        $("#DownloadTemplateButton").click(function () {
            var ajaxDownloadTemplate = downloadTemplate(formPocoName, false, true);
            var el = this;

            if (!el.href) {
                $(el).addClass("loading");

                ajaxDownloadTemplate.success(function (msg) {
                    var json = JSON.parse(msg.d);
                    var csv = jsonToCsv(json);
                    var uri = 'data:text/csv;charset=utf-8,' + escape(csv);
                    el.href = uri;
                    el.target = "_blank";
                    el.download = title + ".csv";

                    $(el).removeClass("loading");

                    el.click();
                });

                ajaxDownloadTemplate.fail(function () {
                    $(el).removeClass("loading");
                });
            };
        });

        function jsonToCsv(json) {

            var header = "";
            var rows = "";

            $.each(json[0], function (name) {
                if (header) {
                    header += ",";
                };

                header += '"' + name.replace(/"/g, '""') + '"';
            });

            header += "\r\n";

            $.each(json, function (i, value) {
                var row = "";

                $.each(value, function (key, val) {
                    if (row) {
                        row += ",";
                    };

                    if (val == null) {
                        row += '""';
                    }
                    else {
                        row += '"' + val.toString().replace(/"/g, '""') + '"';
                    };
                });

                row += "\r\n";
                rows += row;
            });

            var csv = header + rows;
            return csv;
        };


        function toProperCase(str) {
            var result = str.replace(/_([a-z])/g, function (g) { return g[1].toUpperCase(); });
            return result.charAt(0).toUpperCase() + result.slice(1);
        };


        function downloadTemplate(pocoName, byOffice, withData) {
            var url = "/Services/Modules/PocoService.asmx/DownloadTemplate";
            var data = appendParameter("", "pocoName", pocoName);
            data = appendParameter(data, "byOffice", byOffice);
            data = appendParameter(data, "withData", withData);

            data = getData(data);
            return getAjax(url, data);
        };

        function importPocos(pocoName, entities) {
            var url = "/Services/Modules/PocoService.asmx/Import";
            var data = appendParameter("", "pocoName", pocoName);
            data = appendParameter(data, "entities", entities);

            data = getData(data);
            return getAjax(url, data);
        };
    </script>
    <script>
        $("#file").change(function () {
            var el = $(this);
            $(".big.error").removeClass("vpad8").html("");
            var file = this.files[0];

            if (!file) {
                return;
            };

            var supportedFileTypes = ["text/csv", "application/csv"];

            if (supportedFileTypes.indexOf(file.type) === -1) {
                $(".big.error").addClass("vpad8").html(stringFormat("Your upload is of invalid file type \"{0}\". Please try again.", file.type));
                return;
            };

            $("#ProgressBar").show();
            var progress = $(".progress");

            showProgress(progress, 25, "Processing  your CSV file");

            var reader = new FileReader();

            reader.onload = function (e) {
                var result = reader.result;
                showProgress(progress, 50, "Successfully processed your file.");
                var entities = Papa.parse(result, { "header": true }).data;

                showProgress(progress, 50, "Requesting import. This may take several minutes to complete.");

                el.closest(".segment").find(".button").addClass("loading");

                var ajaxImportPocos = importPocos(window.formPocoName, entities);

                ajaxImportPocos.success(function (msg) {
                    var message = stringFormat("Successfully imported {0} items.", entities.length);
                    showProgress(progress, 100, message);
                    el.closest(".segment").find(".button").removeClass("loading");
                });

                ajaxImportPocos.fail(function (xhr) {
                    $(".big.error").addClass("vpad8").html(JSON.parse(xhr.responseText).Message);
                    el.closest(".segment").find(".button").removeClass("loading");
                    showProgress(progress, 0, "Rolling back changes.");
                    $("#ProgressBar").fadeOut(2000);
                });
            };

            reader.readAsText(file);

        });

        function showProgress(el, percentage, message) {
            el.attr("data-percent", percentage.toString());
            el.find(".bar").css("width", percentage.toString() + "%");
            el.find(".label").text(percentage.toString() + "% - " + message);
        };
    </script>
    <script>
        function loadActions() {
            var deleteTemplate = "";
            var editTemplate = "";

            var hasAction = false;

            if (window.allowDelete) {
                deleteTemplate = stringFormat("<a onclick='deleteRow(this);' title='{0}'><i class='delete icon'></i></a>", Resources.Titles.Delete());
            };

            if (window.allowEdit) {
                editTemplate = stringFormat("<a onclick='editRow(this);' title='{0}'><i class='edit icon'></i></a>", Resources.Titles.Edit());
            };

            if (!isNullOrWhiteSpace(editTemplate) || !isNullOrWhiteSpace(deleteTemplate)) {
                hasAction = true;
            };

            if (hasAction) {
                var grid = $(".definition.table");
                var header = stringFormat("<th style='width:{0}px;'></th>", 25 * (!isNullOrWhiteSpace(editTemplate) + !isNullOrWhiteSpace(deleteTemplate)));
                header += "<th>" + Resources.Titles.Select() + "</th>";
                var selectTemplate = '<div class="ui toggle checkbox"> \
                                      <input type="checkbox">\
                                      <label></label>\
                                    </div>';

                var column = stringFormat("<td>{0}{1}</td><td>{2}</td>", editTemplate, deleteTemplate, selectTemplate);

                grid.find("th:first-child").before(header);
                grid.find("td:first-child").before(column);

                $(".definition.table tr").click(function (sender) {
                    var row = $(this);
                    var cell = $(sender.target).closest('td');

                    if (cell.index() > 1) {
                        var el = row.find("input:checkbox");
                        toogleSelection(el);
                    };

                });
            };
        };
    </script>
    <script>
        function deleteRow(el) {
            var confirmed = confirmAction();

            if (!confirmed) {
                return;
            };

            el = $(el);

            if (typeof (window.keyColumnPosition) === "undefined") {
                window.keyColumnPosition = "3";
            };

            var selector = "td:nth-child(" + keyColumnPosition + ")";
            var primaryKey = el.parent().parent().find(selector).text();

            var ajaxDeleteEntity = deleteEntity(formPocoName, primaryKey);

            ajaxDeleteEntity.success(function (msg) {
                var confirmed = confirm("Task completed successfully. Refresh view?");

                if (confirmed) {
                    loadPageCount(loadGrid);
                };
            });
        };

        function editRow(el) {
            var confirmed = confirmAction();

            if (!confirmed) {
                return;
            };

            if (window.form === "undefined") {
                alert("No instance of form handler was found.");
                return;
            };

            el = $(el);

            if (typeof (window.keyColumnPosition) === "undefined") {
                window.keyColumnPosition = "3";
            };

            var selector = "td:nth-child(" + keyColumnPosition + ")";
            var primaryKeyValue = el.parent().parent().find(selector).text();
            var tableName = window.formSchemaName + "." + window.formTableName;

            var ajaxGetViewForEdit = getViewForEdit(formPocoName, primaryKeyValue);

            ajaxGetViewForEdit.success(function (msg) {
                var data = JSON.parse(msg.d);
                displayEdit(data, false);

                getCustomFieldsForEdit(tableName, primaryKeyValue).success(function (msg) {
                    displayCustomFields(msg);
                    form.show();
                    view.hide();
                });
            });
        };



        function displayEdit(items) {
            for (var id in items) {
                var value = items[id];
                editFormElement(id, value);
            };
        };

        function displayCustomFields(items) {
            $.each(items, function (i, v) {
                var id = v.FieldName;
                var value = v.Value;

                editFormElement(id, value);
            });
        };

        function editFormElement(id, value) {
            var targetEl = $("#" + id);

            if (targetEl.length) {
                if (targetEl.hasClass("date")) {
                    value = value.toFormattedDate();
                };

                targetEl.val(value);

                if (targetEl.is("select")) {
                    var type = targetEl.attr("data-type");

                    if (type === "bool") {
                        value = value ? "yes" : "no";
                    };

                    targetEl.dropdown("set selected", value);
                    targetEl.trigger("blur");
                    targetEl.trigger("change");
                };
            };
        };
    </script>
    <script>

        function deleteEntity(pocoName, primaryKeyValue) {
            var url = "/Services/Modules/PocoService.asmx/DeleteEntity";
            var data = appendParameter("", "pocoName", pocoName);
            data = appendParameter(data, "primaryKeyValue", primaryKeyValue);

            data = getData(data);

            return getAjax(url, data);
        };

        function getViewForEdit(pocoName, primaryKeyValue) {
            var url = "/Services/Modules/PocoService.asmx/GetViewForEdit";
            var data = appendParameter("", "pocoName", pocoName);
            data = appendParameter(data, "primaryKeyValue", primaryKeyValue);

            data = getData(data);

            return getAjax(url, data);
        };

        function getCustomFieldsForEdit(tableName, primaryKeyValue) {
            var url = "/api/core/custom-field-view/get-where/1";

            var filters = [];

            filters.push(window.getAjaxColumnFilter("table_name", FilterConditions.IsEqualTo, tableName));
            filters.push(window.getAjaxColumnFilter("resource_id", FilterConditions.IsEqualTo, primaryKeyValue));

            var data = JSON.stringify(filters);

            return postAjaxRequest(url, data);
        };
    </script>

    <script>
        function createPDFDocument(html, documentName) {
            var url = "/Services/CreateDocument.asmx/CreatePdf";
            var data = appendParameter("", "html", html);
            data = appendParameter(data, "documentName", documentName);
            data = getData(data);

            return getAjax(url, data);
        };

        function createXlsDocument(html, documentName) {
            var url = "/Services/CreateDocument.asmx/CreateXls";
            var data = appendParameter("", "html", html);
            data = appendParameter(data, "documentName", documentName);
            data = getData(data);

            return getAjax(url, data);
        };

        function createDocDocument(html, documentName) {
            var url = "/Services/CreateDocument.asmx/CreateDoc";
            var data = appendParameter("", "html", html);
            data = appendParameter(data, "documentName", documentName);
            data = getData(data);

            return getAjax(url, data);
        };

        function getFileName() {
            var filterName = ($("#DefaultFilterSelect").val() || "");

            if (filterName) {
                filterName += "-";
            };

            return title + "-" + filterName + stringFormat(Resources.Titles.PageN(), getPageNumber());
        };

        function createPDF() {
            printGridView(reportExportTemplatePath, reportHeaderPath, title, "ScrudView", date, user, office, '', 2, 0, $("#MarkupHidden"), null, downloadPDF);
        };

        function createXls() {
            printGridView(reportExportTemplatePath, reportHeaderPath, title, "ScrudView", date, user, office, '', 2, 0, $("#MarkupHidden"), null, downloadXls);
        };

        function createDoc() {
            printGridView(reportExportTemplatePath, reportHeaderPath, title, "ScrudView", date, user, office, '', 2, 0, $("#MarkupHidden"), null, downloadDoc);
        };

        function print() {
            printGridView(reportExportTemplatePath, reportHeaderPath, title, "ScrudView", date, user, office, '', 2, 0);
        };

        function downloadXls() {
            var html = $("#MarkupHidden").val();
            var fileName = getFileName() + ".xls";
            var createXlsDocumentAjax = createXlsDocument(html, fileName);

            createXlsDocumentAjax.success(function (msg) {
                startDownload(msg.d);
            });
        };

        function downloadDoc() {
            var html = $("#MarkupHidden").val();
            var fileName = getFileName() + ".docs";
            var createDocDocumentAjax = createDocDocument(html, fileName);

            createDocDocumentAjax.success(function (msg) {
                startDownload(msg.d);
            });
        };


        function downloadPDF() {
            var html = $("#MarkupHidden").val();
            var fileName = getFileName() + ".pdf";
            var createPDFDocumentAjax = createPDFDocument(html, fileName);

            createPDFDocumentAjax.success(function (msg) {
                startDownload(msg.d);
            });
        };

        function startDownload(path) {
            var anchor = $("#DownloadAnchor");
            anchor.attr("href", path);
            anchor[0].click();
        };


        var printGridView = function (templatePath, headerPath, reportTitle, gridViewId, printedDate, user, office, windowName, offset, offsetLast, hiddenFieldToUpdate, triggerControlId, callback) {
            var token = Math.random().toString();
            //Load report template from the path.
            $.get(templatePath + "?" + token, function () { }).done(function (data) {
                //Load report header template.
                $.get(headerPath + "?" + token, function () { }).done(function (header) {
                    var table = $("#" + gridViewId).clone();

                    table.find("tr.tableFloatingHeader").remove();

                    table.find("th:nth-child(-n" + offset + ")").remove();
                    table.find("td:nth-child(-n" + offset + ")").remove();

                    table.find("th:nth-last-child(-n" + offsetLast + ")").remove();
                    table.find("td:nth-last-child(-n" + offsetLast + ")").remove();

                    table.find("td").removeAttr("style");
                    table.find("tr").removeAttr("style");

                    table = "<table class='preview'>" + table.html() + "</table>";

                    data = data.replace("{Header}", header);
                    data = data.replace("{ReportHeading}", reportTitle);
                    data = data.replace("{PrintDate}", printedDate);
                    data = data.replace("{UserName}", user);
                    data = data.replace("{OfficeCode}", office);
                    data = data.replace("{Table}", table);

                    if (hiddenFieldToUpdate) {
                        //Update the hidden field with data, but do not print.
                        $(hiddenFieldToUpdate).val(data);
                        if (typeof (callback) === "function") {
                            callback();
                        };

                        if (triggerControlId) {
                            $("#" + triggerControlId).trigger("click");
                        };

                        return;
                    };

                    //Creating and opening a new window to display the report.
                    var w = window.open('', windowName,
                        + ',menubar=0'
                        + ',toolbar=0'
                        + ',status=0'
                        + ',scrollbars=1'
                        + ',resizable=0');
                    w.moveTo(0, 0);
                    w.resizeTo(screen.width, screen.height);


                    //Writing the report to the window.
                    w.document.writeln(data);
                    w.document.close();

                    //Report sent to the browser.
                });
            });
        };
    </script>
</div>

<input type="hidden" id="MarkupHidden" />
<a id="DownloadAnchor" download />



<script>
    var flagPopUnder = $("#FlagPopUnder");
    var flagButton = $("#FlagButton");
    var flagSelect = $("#FlagSelect");
    var updateButton = $("#UpdateButton");

    function popUnder(div, button) {
        div.removeClass("initially hidden");
        div.fadeIn(1000).position({
            my: "left top",
            at: "left bottom",
            of: button
        });
    };

    function getFlagTypes() {
        var url = "/api/core/flag-type/display-fields";
        return getAjaxRequest(url);
    };

    function getFlagTypes() {
        var url = "/api/core/flag-type/display-fields";
        return getAjaxRequest(url);
    };

    var getAjaxRequest = function (url, type, data) {
        var isWebApiRequest = url.substring(5, 0) === "/api/";

        if (isWebApiRequest) {
            url = url.replace("{v}", "v" + window.apiVersion);
        };

        if (!type) {
            type = "GET";
        };

        var ajax = $.ajax({
            type: type,
            url: url,
            data: data,
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        });

        ajax.fail(function (xhr) {
            logAjaxErrorMessage(xhr);
        });

        return ajax;
    };

    function addFlag(flag) {
        var url = "/api/core/flag/add-or-edit";
        var data = JSON.stringify(flag);

        return getAjaxRequest(url, "PUT", data);
    };

    $(document).ready(function () {
        var getFlagTypesAjax = getFlagTypes();

        getFlagTypesAjax.success(function (msg) {
            bindSelect(flagSelect, msg, "Key", "Value");
            flagSelect.dropdown();
        });

        flagButton.click(function () {
            popUnder(flagPopUnder, flagButton);
        });
    });

    updateButton.click(function() {
        var selecteRows = $("input:checkbox:checked").closest("tr");

        selecteRows.each(function() {
            var row = $(this);
            var flag = new Object();

            flag.FlagId = (row.attr("data-flag-id") || 0);
            flag.ResourceId = row.find("td:nth-child(3)").text();
            flag.FlagTypeId = flagSelect.val();
            flag.Resource = window.viewPocoName;
            flag.ResourceKey = "";

            var addFlagAjax = addFlag(flag);

            addFlagAjax.success(function(msg) {
                alert(msg);
            });

            addFlagAjax.fail(function(xhr) {
                logAjaxErrorMessage(xhr);
            });
        });
    });

</script>
